

* {
    box-sizing: border-box;
}

footer {
    line-height: 50px;
    height: 100px;
    background: lightgray;
    border-top: 1px solid #000;
    opacity: 0.4;
    margin: 0 auto;
    text-align: center;
}

footer ul {
    float: right;
    display: table;
}

footer ul li {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.rodapeimg {
    width: 3%;
    float: right;
    padding: 10px;
}
.rodapeimg2 {
    width: 10%;
    float: left;
}


 footer a {
    text-decoration: none;
  }
  
  /* Transisoes e animacoes */
  
 footer:hover {
    color: #000000;
    opacity: 1;
  } 
  
  
  @media screen and (max-width: 768px) {
    /* Estilos para telas menores */
    body {
      font-size: 16px;
    }
  }
