/* STRUCTURE */
* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  outline: 0;
}

.cadastro_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cadastro_section h1 {
  font-size: 133px;
  font-weight: 400;
  line-height: 130px;
  letter-spacing: 0.14em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px #E05576;
  width: 50%;
}
  
  /* cadastro */
.cadastro_box {
    width: 490px;
    height: 455px;
    border-radius: 27px;
    background: #D9D9D99E;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cadastro_box h2 {
    font-size: 64px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0.14em;
    text-align: center;    
}
.cadastro_box input {
    width: 364px;
    height: 61px;
    border-radius: 7px;
    outline: none;
    border: none;
    margin: 15px;
    display: flex;
    font-size: 20px;
    text-align: center;
}
.cadastro_box .button {
    display: flex;
    justify-content: space-around;
    margin: 15px 0 0 0;
}
.cadastro_box button {
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: 0;
  margin: 0 10px;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.cadastro_box button:hover {
  color: black;
  background-color: #18929D;
}
.alert {
  display: none;
  position: fixed;
  top: 49.4%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #d93a60;
  color: white;
  text-align: center;
  border-radius: 8px;
  z-index: 1000;
}